<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/VancouverBitdevs/VancouverBitdevs.github.io" target="_blank" rel="noopener nofollow">Source
        available on Github</a>
    </div>
    <div class="Footer-rss">
      <a href="https://anchor.fm/vancouver-bitcoiners/episodes">Podcast</a>
    </div>
  </div>
</footer>
